<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdg.etspmobileuser"
    android:versionCode="1"
    android:versionName="1.0" >

   <uses-sdk
      android:minSdkVersion="14"
      android:targetSdkVersion="19" />
   <permission
      android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
      android:protectionLevel="signature" />


	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
   <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

   <uses-feature
      android:glEsVersion="0x00020000"
      android:required="true" />
   
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        
              <activity
         android:name="com.sdg.etspmobileuser.Menu"
         android:label="@string/app_name" >
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>
        
              
        
      <activity
         android:name=".Login"
         android:label="@string/app_name" >
         <intent-filter>
            <action android:name="com.sdg.etspmobileuser.LOGIN" />

            <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </activity>
        
                <activity
            android:name=".MainTrackerInterface"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.TRACKOBJECTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
                
                
                
                
                
                
                                <activity
            android:name=".CreateObject"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.CREATEOBJECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                        <activity
            android:name=".CreateUser"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.CREATEUSER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                        <activity
            android:name=".EditObject"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.EDITOBJECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                        <activity
            android:name=".EditUser"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.EDITUSER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                        <activity
            android:name=".ManageTrackers"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.MANAGETRACKERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                        <activity
            android:name=".ManageUsers"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.MANAGEUSERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                        <activity
            android:name=".NewObject"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.NEWOBJECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                        <activity
            android:name=".NewTracker"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.NEWTRACKER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
                                                <activity
            android:name=".ConfigureTrackers"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.CONFIGURETRACKERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       <activity
            android:name=".Statistics"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.STATISTICS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       <activity
            android:name=".PasswordSettings"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       <activity
            android:name=".RegistrationRequests"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.REGISTRATIONREQUESTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
       
              <activity
            android:name=".CustomProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.CUSTOMPROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

              
              
              
              
              
                              <activity
            android:name=".ObjectCategories"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.OBJECTCATEGORIES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                            <activity
            android:name=".ManageObjects"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.MANAGEOBJECTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
                            <activity
            android:name=".NewWildLife"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.CREATEWILDLIFE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                             <activity
            android:name=".NewVehicle"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.CREATEVEHICLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                            <activity
            android:name=".NewPerson"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.CREATEPERSON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                            <activity
            android:name=".NewOther"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.CREATEOTHER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>         
        
                                                        <activity
            android:name=".Alerts"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sdg.etspmobileuser.ALERTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
        
	<service android:name="com.sdg.etspmobileuser.AlertService"
             android:exported="false"
             android:enabled="true" >
                        <intent-filter>
                <action android:name="com.sdg.etspmobileuser.ALERTSERVICE" />
            </intent-filter>
        </service>
                                                        
                                                        
                        <meta-data
    android:name="com.google.android.maps.v2.API_KEY"
    android:value="AIzaSyChNJ4tdQABPA0tUzVXO4oVwPFrnuI6xTA"/>
                
                
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        

        
    </application>

</manifest>
